body{
    background: #F0F0F0;
}
.layui-container{
    background: #fff;
    text-align: center;
}
.title{
    padding-top: 20px;
}
.title p{
    padding: 5px 0;
}
.title p:first-child{
    font-weight: bold;
    font-size: 18px;
}

.navigation{
    text-align: left;
}
.navigation a{
    cursor: pointer!important;
}

.container{
    text-align: left;
    padding: 25px 0;
}
.container label{
    width: 100px;
}
.container .layui-word-aux{
    padding: 4px 0!important;
}

.footer{
    padding: 15px 0;
}