body{
    width: 240px;
    margin: 0;
    padding: 10px;
    border: 1px red solid;
}
.layui-fluid{
    padding: 0!important;
}
.layui-field-title legend{
    font-size: 15px;
}

.title-info{
    position: relative;
}
.title-info img{
    display: inline-block;
    width: 32px;
    height: 32px;
}
.title-info span:nth-child(2){
    font-weight: bold;
    position: absolute;
    left: 42px;
    top: -2px;
    display: inline-block;
    width: 120px;
}
.title-info span:nth-child(3){
    position: absolute;
    left: 42px;
    top: 17px;
    display: inline-block;
    width: 120px;
}
.title-info i{
    position: absolute;
    right: 30px;
    top: 5px;
    border: 1px solid;
    border-radius: 15px;
}
.title-info span:nth-child(5){
    position: absolute;
    right: 0;
    top: 4px;
}

.wiki{
    padding-top: 15px;
}

.contact{
    font-size: 15px;
}
.contact p{
    color: #666;
}
.contact p span{
    font-size: 14px;
    font-weight: normal;
}